*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $brown-dark;
}

header{
    background-color: $brown;
}

ul{
    list-style: none;
}

hr{
    width: 90%;
    margin: 3rem auto;
}