*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: $brown-dark;
}

header{
    background-color: $brown;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

hr{
    width: 90%;
    margin: 3rem auto;
}