*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Is not supported for Safari and IE */
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #292828;
}

main{
    flex-grow: 1;
}

input, textarea, fieldset{
    outline: none;
    border: none;
}

textarea{
    resize: none;
    height: 200px;

}

hr{
    width: 90%;
    margin: 3rem auto;
}

section{
    margin: 2rem auto;
}

article{
    margin: 4rem auto;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

header{
    background: $mainColor;
    position: sticky;
    top: 0;
    height: 8vh;
    z-index: 1;
}

li{
    list-style: none;
}