body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}

h1{
    font-size: 3.2rem;
    font-weight: 600;
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
}

p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 2px;
    text-align: justify;
}

a{
    text-decoration: none;
    outline: none;
    color: #fff;
}

.logo-text{
    text-transform: uppercase;
}

.top-nav-links{
    font-weight: 500;
    a:hover{
        color: #343a40;
    }
}

@media only screen and (max-width: 1231px){
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.1rem;
    }
    button{
        font-size: 1.5rem;
    }
}