.section-title{
    margin-bottom: 1rem;
}

.img-slider{
    width: 80%;
    height: 600px;
    margin: 3rem auto;
    outline: 1px solid white;
}

// What is INGENIUMS

.what-is-ing{
    display: flex;
    justify-content: space-between;
}

.what-is-ing-text{
    padding-right: 4rem;
}

.what-is-ing-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img{
        width: 280px;
        height: auto;
    }
}

.join-us-link{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 50px;
    background-color: $blue-dark;
    transition: 0.3s;
}

.join-us-link:hover, .join-us-link:active{
    color: $blue-dark;
    background-color: #fff;
}

// Who are we

.who-are-we{
    display: flex;
    align-items: center;
}

.who-are-we-images{
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.who-are-we-img{
    height: 215px;
    width: 240px;
    border: 1px solid #fff;
}

.who-are-we-text{
    padding-left: 2rem;
}

@media screen and (max-width: 1000px){

    .section-title{
        text-align: center;
    }

    // What is INGENIUMS
    
    .what-is-ing{
        flex-direction: column;
    }

    .what-is-ing-text {
        padding: 0;
    }

    .what-is-ing-img{
        padding-top: 1rem;
    }

    // Who are we

    .who-are-we{
        flex-direction: column;
        justify-content: center;
    }

    .who-are-we-text{
        order: 1;
        padding-left: 0;
    }

    .who-are-we-images{
        order: 2;
        padding-top: 1rem;
    }

    .who-are-we-img{
        width: auto;
    }

}