.section-title{
    margin-bottom: 2rem;
}

.main-img-slider{
    width: 80%;
    height: 83vh;
    margin: 2.5rem auto;
    img{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

.what-is{
    display: flex;
    justify-content: center;
}

.what-is-text{
    width: 50%;
    padding: 2rem;
}

.what-is-img{
    width: 30%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        width: 60%;
        height: auto;
    }
    a{
        font-size: 2.8rem;
        padding: 0.3rem 2rem;
        margin: 2rem 0;
        background: #343a40;
        border-radius: 110px;
        color: white;
        transition: 0.3s;
    }
    a:hover{
        color: #343a40;
        background: white;
    }
}

@media screen and (max-width: 1325px){
    .what-is-img a{
        font-size: 2.4rem;
        padding: 0.1rem 1.6rem;
    }
}

@media screen and (max-width: 1200px){
    .what-is{
        flex-direction: column;
        align-items: center;
    }

    .what-is-text{
        width: 70%;
    }

    .section-title{
        text-align: center;
    }

    .what-is-img{
        width: 50%;
        a{
            order: 2;
        }
        img{
            order: 1;
        }
    }

}

.who-are{
    display: flex;
    justify-content:space-evenly;
}

.who-are-text{
    width: 50%;
    padding: 2rem;
}

.who-are-img{
    width: 30%;
    height: auto;
    display: grid;
    place-items: center;
    img{
        width: 100%;
        height: auto;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}

@media screen and (max-width: 1200px){
    .who-are{
        flex-direction: column;
        align-items: center;
    }

    .who-are-text{
        order: 1;
        width: 70%;
    }

    .who-are-img{
        order: 2;
        width: 50%;
    }
}