.events{
    padding: 2rem;
}

.event{
    width: 90%;
    padding: 2rem;
}

.event-circle{
    background: #7d7a7a;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    transform: translateY(-20%);
}

.right{
    float: right;
}

.event-text{
    h2{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 630px){
    .event{
        width: 95%;
    }
}

#event-separator{
    width: 60%;
}