.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1230px){
    .container{
        padding: 0 1rem;
    }
}

@media screen and (max-width: 400px){
    .container{
        padding: 0 0.5rem;
    }
}