* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292828;
}

header {
  background-color: #333232;
}

ul {
  list-style: none;
}

hr {
  width: 90%;
  margin: 3rem auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2px;
  text-align: justify;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1230px) {
  .container {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding: 0 0.5rem;
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.top-nav {
  height: 8vh;
  min-height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav-logo {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  top: 0.8rem;
}
.top-nav-logo img {
  height: 100px;
  width: auto;
}

.curve {
  border-radius: 50%;
  background-color: #333232;
}

.top-nav-links {
  display: flex;
  align-items: center;
}
.top-nav-links li {
  padding: 0 0.9rem;
}

.top-nav-links.active {
  right: 0;
}

.top-nav-link {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  font-weight: 500;
  color: #fff;
  border-radius: 2rem;
  transition: 0.3s;
}

.top-nav-link:hover, .top-nav-link:active {
  color: #333232;
  background-color: #fff;
}

#burgerToggle {
  cursor: pointer;
  display: none;
}

#burgerToggle.active .burger-line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#burgerToggle.active .burger-line:nth-child(2) {
  opacity: 0;
}

#burgerToggle.active .burger-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.burger-line {
  width: 35px;
  height: 3px;
  margin: 5px;
  border-radius: 3px;
  background: white;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .top-nav {
    padding: 0 2rem;
  }

  .top-nav-links {
    width: 100%;
    position: absolute;
    right: -100%;
    top: 63px;
    z-index: 1;
    flex-direction: column;
    text-align: center;
    background-color: #333232;
    transition-duration: 0.5s;
  }
  .top-nav-links li {
    width: 100%;
    padding: 0;
  }

  .top-nav-link {
    width: 100%;
    border-radius: 0;
  }

  #burgerToggle {
    display: block;
  }
}
.img-slider {
  width: 80%;
  height: 600px;
  margin: 3rem auto;
  outline: 1px solid white;
}

.what-is-ing {
  display: flex;
  justify-content: space-between;
}

.what-is-ing-text {
  padding: 0rem 3rem 0 0;
}
.what-is-ing-text h2 {
  margin-bottom: 1rem;
}

.what-is-ing-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.what-is-ing-img img {
  width: 280px;
  height: auto;
}

.join-us-link {
  margin-top: 2rem;
  padding: 0.3rem 1.3rem;
  font-size: 2rem;
  border-radius: 50px;
  background-color: #343a40;
  transition: 0.3s;
}

.join-us-link:hover, .join-us-link:active {
  color: #343a40;
  background-color: #fff;
}

@media screen and (max-width: 920px) {
  .what-is-ing {
    flex-direction: column;
  }

  .what-is-ing-text {
    padding: 0;
  }
  .what-is-ing-text h2 {
    text-align: center;
  }

  .what-is-ing-img {
    padding-top: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
