#scroll-top-btn {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 3;
    color: white;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease;
    border: none;
    border-radius: 50%;
    background: #333232;
}

#scroll-top-btn:hover {
    background: white;
    color: #333232;
}

#scroll-top-btn i {
    font-size: 2.5rem;
}

#scroll-top-btn.active {
    opacity: 1;
}

#scroll-top-btn.hidden{
    opacity: 0;
    display: none;
}