#scroll-top-btn{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 5%;
    background: $mainColor;
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
    transition: 0.5s;
    &:hover{
        background: white;
        color: $mainColor;
    }
    i{
        font-size: 2.5rem;
    }
}

#scroll-top-btn.active{
    opacity: 1;
}

.hide-btn{
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in;
}

@keyframes scrollTopBtnFade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}