.footer{
    margin-top: auto;
    background-color: $brown;
}

.copyrights{
    margin-top: auto;
    font-weight: 200;
    text-align: center;
    background-color: $brown-dark;
}

.footer .container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    margin-bottom: 1rem;
    position: relative;
}

.footer-title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background: white;
    box-sizing: border-box;
    height: 0.125rem;
    width: 4rem;
}

.footer-contact-info{
    width: 300px;
}

.footer-contact-info ul li{
    padding: 0.3rem 0;
    display: flex;
    align-items: center;
}

.contact-info-icon{
    height: 30px;
    width: 30px;
    margin-right: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $brown;
    border-radius: 50%;
    background-color: #fff;
}

.sms{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    li{
        padding: 0 0.3rem;
    }
}

.sm-icon{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: $brown;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s ease;
}

.sms a{
    display: inline-block;
}

.sms a:hover .sm-icon, .sms a:active .sm-icon{
    outline: 1px solid #fff;
    color: #fff;
    background-color: $brown-dark;
}

.newsletter-input{
    text-align: center;
}

#newsletterInput, #subscribeToNewsletter{
    padding: 0.4rem;
    border-radius: 5px;
}

#newsletterInput{
    width: 100%;
    max-width: 320px;
    margin-top: 0.5rem;
}

#subscribeToNewsletter{
    transition: all 0.3s ease;
}

#subscribeToNewsletter:hover, #subscribeToNewsletter:active{
    outline: 1px solid #fff;
    color: #fff;
    background-color: $brown-dark;
}

.footer .container > *{
    // outline: 1px solid white;
}

@media screen and (max-width: 920px){
    .footer .container{
        flex-direction: column;
        gap: 2rem;
    }

    .footer .container > *{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    #subscribeToNewsletter{
        margin-top: 0.5rem;
    }
}