.header{
    background-color: $brown;
}

.top-nav{
    height: 8vh;
    min-height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav-logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 0.8rem;

    img{
        height: 100px;
        width: auto;
    }
}

.curve{
    border-radius: 50%;
    background-color: $brown;
}

.top-nav-links{
    display: flex;
    align-items: center;

    li{
        padding: 0 0.9rem;
    }
}

.top-nav-links.active{
    height: auto;
    opacity: 1;
    right: 0;
}

.top-nav-link{
    display: inline-block;
    padding: 0.8rem 1.2rem;
    font-weight: 500;
    color: #fff;
    border-radius: 2rem;
    transition: 0.3s;
}

.top-nav-link:hover, .top-nav-link:active{
    color: $brown;
    background-color: #fff;
}

#burgerToggle{
    cursor: pointer;
    display: none;
}

#burgerToggle.active .burger-line:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#burgerToggle.active .burger-line:nth-child(2){
    opacity: 0;
}

#burgerToggle.active .burger-line:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.burger-line{
    width: 35px;
    height: 3px;
    margin: 5px;
    border-radius: 3px;
    background: white;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px){

    .top-nav{
        padding: 0 2rem;
    }

    .top-nav-links{
        width: 100%;
        height: 0;
        opacity: 0;
        overflow-y: hidden;
        position: absolute;
        right: -100%;
        top: 63px;
        z-index: 1;
        flex-direction: column;
        text-align: center;
        background-color: $brown;
        transition: right 0.5s, visibility 0.2s;
        
        li{
            width: 100%;
            padding: 0;
        }
    }

    .top-nav-link{
        width: 100%;
        border-radius: 0;
    }

    #burgerToggle{
        display: block;
    }
}